<?php

return [
    'env'          => 'dev',
    'api_token'    => '',
    'app_protocol' => 'http',
    'app_domain'   => 'localhost',
    'app_port'     => '8080',
    'base_path'    => '',
    'database'     => [
        'driver'   => 'mysqli',
        'host'     => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname'   => 'database',
        'port'     => NULL,
        'socket'   => NULL
    ],
    'app_name' => 'SIMPKEU',
    'app_address' => 'Kisaran',
    'app_phone' => '082369378823',
    'app_email' => 'htd.official21@gmail.com',
    'api_token' => 'appkeuangan',
    'footer' => [
        'text' => 'Z-Techno',
        'link' => '',
        'copyright' => 'Copyright 2023'
    ]
];